body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.box {
    width: 420px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}

.buttons {
    margin-top: 15px;
    text-align: center;
}

input[type=submit], input[type=reset] {
    width: 100px;
}